@import "../../global.scss";



.resume{
    background: linear-gradient(to bottom, #ebeff1 0%, #799bcd 100%);
    overflow: hidden;
    
   
    
    .imgContainer{
       position:relative;
       display: flex;       
       justify-content: center;
       height:90%;
       width:100%;

       @include mobile{
      position:relative;
      margin-top: 60px;
       display: flex;       
       justify-content: center;
       height:70%;
       width:100%; 
       }
 
   
     
       
      
        
    }

    h1{
       font-size:25px;
       font-weight: 800;
       text-align:center;
       margin: 10px;
       position: relative;
       overflow: hidden;
       
    }
}