@import "../../global.scss";



.resume{
    background: linear-gradient(to bottom, #ebeff1 0%, #799bcd 100%);
    overflow: hidden;
    
   
    
    .imgContainer{
      position:relative;
         display: flex;       
         justify-content: center;
         height:100%;
         width:100%;

         

       @include mobile{
         //position:relative;
         //display: flex;       
         //justify-content: center;
         height:100%;
         width:100%;
       }
       
 
   
     
       
      
        
    }

    h1{
       font-size:25px;
       font-weight: 800;
       text-align:center;
       margin: 5px;
       position: relative;
       overflow: hidden;
       
    }

    h5{
       color: blue;
      font-size:20px;
       font-weight: 800;
       text-align:center;
       //margin: 10px;
       position: relative;
       overflow: hidden; 
    }
}